<font></font>
* {<font></font>
    -webkit-box-sizing: border-box;<font></font>
    -moz-box-sizing: border-box;<font></font>
    box-sizing: border-box;<font></font>
    margin-top: 0;<font></font>
}<font></font>
<font></font>
html,<font></font>
body,<font></font>
div{<font></font>
    margin: 0;<font></font>
    padding: 0;<font></font>
}